
body{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background-color: #1A1E37;
}

.page{
  position: absolute;
  width: 100%;
}

.slider-control div > div:nth-child(1) > div {
    background-color: white !important;
}